<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAwSNN0G1498nIq1Lxe5AVyF8916CKUUVg</string>
	<key>GCM_SENDER_ID</key>
	<string>984442762613</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tokenGenerationApplication</string>
	<key>PROJECT_ID</key>
	<string>token-generate-d3526</string>
	<key>STORAGE_BUCKET</key>
	<string>token-generate-d3526.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:984442762613:ios:722dbd59383e6e330f0f3c</string>
</dict>
</plist>